// Custom styles.
//添加背景图
body {
    background:url(https://source.unsplash.com/random/1600x900);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position:50% 50%;
}

.main-inner { 
    margin-top: 20px;
    padding: 10px 10px 10px 10px;
    
}
.header {
          background:rgba(0,0,0,0) none repeat scroll !important;
        }
.footer {
          background:rgba(0,0,0,0) none repeat scroll !important;
        }